@{
    Layout = "_Layout";
}
<form action="/stylists/@Model.GetId()/edit" method="post">
 <label for="name">Stylist Name:</label>
 <input required id="name" name="name" type="text" value="@Model.GetName()"><br>
 <label for="Information">Information:</label>
 <input required id="information" name="information" type="text" value="@Model.GetInformation()"><br>
 <button type="submit">Save</button>
</form>