@{
    Layout = "_Layout";
}

<form action="/stylists/create" method="post">
 <label for="name">Stylist name:</label>
 <input required id="name" name="name" type="text"><br>
 <label for="information">Information:</label>
 <input required id="information" name="information" type="text"><br>
 <button type="submit">Save</button>
</form>