@{
    Layout = "_Layout";
}

<form action="/stylists/create" method="post">
 <label for="name">Stylist name:</label>
 <input required id="name" name="name" type="text"><br>
 <label for="information">Information:</label>
 <input class= "k-textbox" style="width:100%; height: 70px;" required id="information" name="information" type="text" ><br>
 <button type="submit" class="btn btn-dark">Save</button>
</form>