@using HairSalon.Models;

@{
    Layout = "_Layout";
}

<h1>Information about Hair Salon</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper interdum ante, quis pharetra nibh blandit ut. Nullam et mauris id nibh luctus blandit. Duis at ligula convallis, finibus metus ac, placerat urna. Ut vel pretium nunc, ut commodo nisl. Quisque vel posuere tortor, sit amet sagittis metus. In eget accumsan mauris, id molestie odio. Praesent venenatis dui sed massa elementum, vel condimentum mauris eleifend. Ut laoreet dignissim hendrerit. Fusce eget velit sem. Morbi sit amet commodo metus, imperdiet bibendum ipsum.

    Suspendisse potenti. Donec iaculis efficitur quam sit amet efficitur. Nam quis eros ac urna venenatis volutpat vitae mattis lectus. Mauris in hendrerit mauris, sit amet sagittis lacus. Proin lacinia, augue ac hendrerit pulvinar, lorem nulla hendrerit leo, tristique ornare metus mi at sem. In efficitur lorem eget consectetur accumsan. Integer consequat nisi a finibus varius. Etiam mi justo, dapibus ac justo eu, elementum pretium lorem. In neque nulla, pellentesque quis vehicula at, imperdiet non felis. Donec vel risus nisl. Nullam viverra ligula in mattis ornare. Fusce et euismod velit. Morbi et quam finibus, porttitor purus ac, sollicitudin mauris. Sed ullamcorper purus eu ipsum interdum, ut tempus sapien luctus. Nulla hendrerit mi interdum libero porta, id tincidunt nisl congue.
</p>

<p>Click to see all stylists!</p>

 <form method="get" action="/stylists/">
        <button type="submit" >Go</button>
</form>