@{
    Layout = "_Layout";
}

<form action="/stylists/@Model.GetStylistId()/clients/@Model.GetId()/edit" method="post">
 <label for="name">Client name:</label>
 <input required id="name" name="name" type="text" value="@Model.GetName()"><br>
 <label for="details">Details:</label>
 <textarea class= "k-textbox" style="width:100%; height: 70px;" required id="details" name="details" type="text" value="@Model.GetDetails()"><br>
 <input id='appointment' name='appointment' type='date'><br>
 <label for='appointment'>Appointment date</label>
 <button type="submit">Save</button>
 
 @Html.ActionLink("Back", "Index", null,  new { @class = "btn" })
</form>