@using HairSalon.Models;

@{
    Layout = "_Layout";
}

<form action="/stylists/@Model/clients" method="post">
 <label for="name">Client name:</label>
 <input required id="name" name="name" type="text" value="@Model.GetName()"><br>
 <label for="details">Details:</label>
 <input required id="details" name="details" type="text" value="@Model.GetDetails()"><br>
 <label for='appointment'>Appointment date</label>
 <input id='appointment' name='appointment' type='date' value ="@Model.GetAppointment()"><br>
 <button type="submit">Save</button>
</form>