@using HairSalon.Models;


@{
    Layout = "_Layout";
}

<form action="/stylists/@Model/clients" method="post">
 <label for="name">Client name:</label>
 <input required id="name" name="name" type="text" /><br>
 <label for="details">Details:</label>
 <textarea class= "k-textbox" style="width:100%; height: 70px;" required id="details" name="details" type="text" ></textarea><br>
 <label for='appointment'>Appointment date</label>
<input id='appointment' name='appointment' type="date" /><br>
 <button type="submit" >Save</button>
</form> 