@using HairSalon.Models;

@{
    Layout = "_Layout";
}

<h3>@Model.GetName()</h3>
<p>@Model.GetDetails()
    @Model.GetAppointment()
</p>



<form method="get" action="/stylists/@Model.GetStylistId()/clients/@Model.GetId()/edit">
    <button type="submit">Edit</button>
</form>


<form method="post" action="/stylists/@Model.GetStylistId()/clients/@Model.GetId()/delete">
    <button type="submit">Delete</button>
</form>
